<form ng-submit="vm.addSubmission()" class="form-inline party-form">
  <div class="form-group">
    <label for="">Full name</label>
    <input ng-model="vm.newSubmission.name" type="text" class="form-control" placeholder="Full name" />
  </div>
  <div class="form-group">
    <label for="">Weight</label>
    <input ng-model="vm.newSubmission.weight" type="number" class="form-control" placeholder="Weight (kg)" required />
  </div>
  <div class="form-group">
    <label for="">Height</label>
    <input ng-model="vm.newSubmission.height" type="number" class="form-control" placeholder="Height (cm)" required />
  </div>

  <h3>Gender</h3>
  <div class="form-group">
    <label for="male">Male</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="male" name="male" class="form-control" />
    <label for="female">Female</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="female" name="female" class="form-control" />
    <label for="other">Other</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="other" name="other" class="form-control" />
  </div>

  <h3>Haircolor</h3>
  <div class="form-group">
    <label for="blonde">Blonde</label>
    <input ng-model="vm.newSubmission.hair" type="radio" value="blonde" name="blonde" class="form-control" />
    <label for="black">Black</label>
    <input ng-model="vm.newSubmission.hair" type="radio" value="blonde" name="blonde" class="form-control" />
    <label for="green">Green</label>
    <input ng-model="vm.newSubmission.hair" type="radio" value="blonde" name="blonde" class="form-control" />
    <label for="red">Red</label>
    <input ng-model="vm.newSubmission.hair" type="radio" value="blonde" name="blonde" class="form-control" />
  </div>

  <h3>Eye color</h3>
  <div class="form-group">
    <label for="blue-eyes">Blue</label>
    <input ng-model="vm.newSubmission.eyes" type="radio" value="blue" name="blue" class="form-control" />
    <label for="brown-eyes">Brown</label>
    <input ng-model="vm.newSubmission.eyes" type="radio" value="brown" name="brown" class="form-control" />
    <label for="green-eyes">Green</label>
    <input ng-model="vm.newSubmission.eyes" type="radio" value="green" name="green" class="form-control" />
  </div>

  <h3>Kjördæmi</h3>
  <div class="form-group">
    <label for="reykjavik">Reykjavík (norður og suður)</label>
    <input ng-model="vm.newSubmission.residence" type="radio" value="reykjavik" name="reykjavik" class="form-control" />
    <label for="sudvestur">Suðvestur</label>
    <input ng-model="vm.newSubmission.residence" type="radio" value="sudvestur" name="sudvestur" class="form-control" />
    <label for="nordvestur">Norðvestur</label>
    <input ng-model="vm.newSubmission.residence" type="radio" value="nordvestur" name="nordvestur" class="form-control" />
    <label for="nordaustur">Norðaustur</label>
    <input ng-model="vm.newSubmission.residence" type="radio" value="nordaustur" name="nordaustur" class="form-control" />
    <label for="sudur">Suður</label>
    <input ng-model="vm.newSubmission.residence" type="radio" value="sudur" name="sudur" class="form-control" />
  </div>

  <h3>Ertu með bílpróf?</h3>
  <div class="form-group">
    <label for="true">Já</label>
    <input ng-model="vm.newSubmission.drive" type="radio" value=TRUE name="TRUE" class="form-control" />
    <label for="false">Nei</label>
    <input ng-model="vm.newSubmission.drive" type="radio" value=FALSE name="FALSE" class="form-control" />
  </div>





  <button type="submit" class="btn btn-primary">Next</button>
</form>

<a class="btn btn-lg" href="/src/#/gender">Next</a>

<ul ng-repeat="submission in vm.submissions">
  <li>{{ submission.name }} – {{submission.weight}} – {{submission.height}}</li>
</ul>