<form class="form-inline party-form" name="myAwesomeForm">
  <div class="skrefafjoldi">
    <p class="skref">Spurning {{ vm.skref }} af 6</p>
    <progress value="{{vm.skref*6}}" max="36"></progress>
  </div>
  <div class="cf"></div>
  <div class="formContainer">
    <fieldset class="personal_info" ng-show="vm.skref == 1">
      <h3>Fyrst þurfum við fullt nafn, hæð og þyngd</h3>
      <div class="form-group">
        <input ng-model="vm.newSubmission.name" name="fullName" type="text" class="form-control" placeholder="Fullt nafn" ng-required="vm.skref == 1" />
      </div>
      <div class="form-group">
        <input ng-model="vm.newSubmission.weight" type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" placeholder="Þyngd (kg)" ng-required="vm.skref == 1" />
      </div>
      <div class="form-group">
        <input ng-model="vm.newSubmission.height" type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" placeholder="Hæð (cm)" ng-required="vm.skref == 1" />
      </div>

      <span ng-show="myAwesomeForm.fullName.$dirty && myAwesomeForm.fullName.$error.required ">Fylla út</span>

      <button type="submit" class="nextButton icon-arrow-right" value="next" ng-disabled="myAwesomeForm.fullName.$invalid" ng-click="vm.aframSkref()">Áfram</button>

    </fieldset>

    <fieldset ng-show="vm.skref == 2">
      <h3>Kyn</h3>
      <div class="form-group">
        <ul class="radio-style">
          <li>
            <input ng-model="vm.newSubmission.gender" type="radio" id="male" value="male" name="male" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="male">Kalkyn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.gender" type="radio" id="female" value="female" name="female" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="female">Kvenkyn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.gender" type="radio" id="other" value="other" name="other" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="other">Annað</label>
          </li>
        </ul>
      </div>
      <button type="button" class="backButton icon-arrow-left" ng-click="vm.afturSkref()">Til baka</button>
    </fieldset>

    <fieldset ng-show="vm.skref == 3">
      <h3>Hárlitur</h3>
      <div class="form-group">
        <ul class="radio-style">
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="blonde" value="blonde" name="blonde" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="blonde">Ljós</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="black" value="black" name="black" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="black">Svartur</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="brown" value="brown" name="brown" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="brown">Brúnn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="gray" value="gray" name="gray" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="gray">Grár / Hvítur</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="red" value="red" name="blonde" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="red">Rauður</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.hair" type="radio" id="noneOrOther" value="other" name="blonde" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="noneOrOther">Ekkert hár eða annar litur</label>
          </li>
        </ul>
      </div>
      <button type="button" class="backButton icon-arrow-left" ng-click="vm.afturSkref()">Til baka</button>
    </fieldset>

    <fieldset ng-show="vm.skref == 4">
      <h3>Augnlitur</h3>
      <div class="form-group">
        <ul class="radio-style">
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="blue-eyes" value="blue" name="blue" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="blue-eyes">Blár</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="grayblue-eyes" value="grayblue" name="grayblue" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="grayblue-eyes">Gráblár</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="brown-eyes" value="brown" name="brown" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="brown-eyes">Brúnn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="lightbrown-eyes" value="lightbrown" name="lightbrown" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="lightbrown-eyes">Ljósbrúnn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="green-eyes" value="green" name="green" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="green-eyes">Græn</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.eyes" type="radio" id="other-eyes" value="other" name="other" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="other-eyes">Annað</label>
          </li>
        </ul>
      </div>
      <button type="button" class="backButton icon-arrow-left" ng-click="vm.afturSkref()">Til baka</button>
    </fieldset>

    <fieldset ng-show="vm.skref == 5">
      <h3>Kjördæmi</h3>
      <div class="form-group">
        <ul class="radio-style">
          <li>
          <input ng-model="vm.newSubmission.residence" type="radio" id="reykjavik" value="reykjavik" name="reykjavik" class="form-control" ng-click="vm.aframSkref()"/>
          <label for="reykjavik">Reykjavík (norður og suður)</label>
          </li>
          <li>
          <input ng-model="vm.newSubmission.residence" type="radio" id="sudvestur" value="sudvestur" name="sudvestur" class="form-control" ng-click="vm.aframSkref()"/>
          <label for="sudvestur">Suðvestur</label>
          </li>
          <li>
          <input ng-model="vm.newSubmission.residence" type="radio" id="nordvestur" value="nordvestur" name="nordvestur" class="form-control" ng-click="vm.aframSkref()"/>
          <label for="nordvestur">Norðvestur</label>
          </li>
          <li>
          <input ng-model="vm.newSubmission.residence" type="radio" id="nordaustur" value="nordaustur" name="nordaustur" class="form-control" ng-click="vm.aframSkref()"/>
          <label for="nordaustur">Norðaustur</label>
          </li>
          <li>
          <input ng-model="vm.newSubmission.residence" type="radio" id="sudur" value="sudur" name="sudur" class="form-control" ng-click="vm.aframSkref()"/>
          <label for="sudur">Suður</label>
          </li>
        </ul>
      </div>
      <button type="button" class="backButton icon-arrow-left" ng-click="vm.afturSkref()">Til baka</button>
    </fieldset>

    <fieldset ng-show="vm.skref == 6">
      <h3>Ertu með bílpróf?</h3>
      <div class="form-group">
        <ul class="radio-style">
          <li>
            <input ng-model="vm.newSubmission.drive" type="radio" id="true" value='bilprof' name="TRUE" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="true">Já</label>
          </li>
          <li>
            <input ng-model="vm.newSubmission.drive" type="radio" id="false" value='ekkibilprof' name="FALSE" class="form-control" ng-click="vm.aframSkref()"/>
            <label for="false">Nei</label>
          </li>
        </ul>
      </div>
      <button type="button" class="backButton icon-arrow-left" ng-click="vm.afturSkref()">Til baka</button>
      <!-- <button type="button" ng-click="vm.aframSkref()">Áfram</button> -->
    </fieldset>

  </div>
</form>