<!-- <form ng-submit="vm.addSubmission()" class="form-inline party-form">
  <input type="radio" ng-model="vm.newSubmission.gender" value="male" ng-value="male" name="male">
  <input type="radio" ng-model="vm.newSubmission.gender" value="female" ng-value="female" name="female">
  <input type="radio" type="submit" ng-model="vm.newSubmission.gender" value="other" ng-value="other" name="other">

</form> -->


<form ng-submit="vm.step2()" class="form-inline party-form">
  <div class="form-group">
    <label for="">Male</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="male" name="male" class="form-control" />
  </div>
  <div class="form-group">
    <label for="">Female</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="female" name="female" class="form-control" />
  </div>
  <div class="form-group">
    <label for="">Other</label>
    <input ng-model="vm.newSubmission.gender" type="radio" value="other" name="other" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/src/#/quiz"><button type="button" class="btn btn-default">Back</button></a>
</form>

<a class="btn btn-lg" href="/src/#/hair">Next</a>

<div ng-repeat="submission in vm.submissions">
  Name: {{ submission.name }} - Weight: {{ submission.weight }} - Height: {{ submission.height }} | Gender: {{ submission.gender }}
</div>