<div class="container">
    <h3>Hvernig eru augun þín á litin?</h3>
    <form ng-submit="processForm()">
        <button name="eyes" id="eyesBlue" type="button" ng-model="formData.eyesBlue">Blá</button>
        <button name="eyes" id="eyesBluegrey" type="button" ng-model="formData.eyesBluegrey">Blá-grá</button>
        <button name="eyes" id="eyesBrown" type="button" ng-model="formData.eyesBrown">Brún</button>
        <button name="eyes" id="eyesLightbrown" type="button" ng-model="formData.eyesLightbrown">Ljósbrún</button>
        <button name="eyes" id="eyesGreen" type="button" ng-model="formData.eyesGreen">Græn</button>
        <button name="eyes" id="eyesOther" type="button" ng-model="formData.eyesOther">Annað</button>
          <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>
    </form>
    
    <pre>
      {{ formData }}
    </pre>

</div>