<div class="container">
    <h3>Hvernig er hárið á þér á litinn?</h3>
    <form ng-submit="processForm()">
        <button name="hair" id="hairBlonde" type="button" ng-model="formData.hairBlonde">Ljóst</button>
        <button name="hair" id="hairBrown" type="button" ng-model="formData.hairBrown">Brúnt</button>
        <button name="hair" id="hairDark" type="button" ng-model="formData.hairDark">Svart</button>
        <button name="hair" id="hairRed" type="button" ng-model="formData.hairRed">Rautt</button>
          <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>
    </form>
    <a href="/#/">Intro</a>

    <a href="/#/gender">Gender</a>

    <pre>
      {{ formData }}
    </pre>

</div>