<div class="container">
    <h3>Fyrst þurfum við fullt nafn, þyngd og hæð</h3>
    <form ng-submit="processForm()">
        <input id="name" type="text" placeholder="Fullt nafn" ng-model="formData.name" />
        <input id="weight" type="text" placeholder="Þyngd <span>(kg)</span>" ng-model="formData.weight" />
        <input id="height" type="text" placeholder="Hæð <span>(cm)</span>" ng-model="formData.height" />
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>
    </form>
    <a href="/#/">Intro</a>

    <a href="/#/gender">Gender</a>

    <pre>
      {{ formData }}
    </pre>

</div>