@import url(https://fonts.googleapis.com/css?family=Work+Sans:900,700,500,400);

@import "incl/normalize.scss";
@import "incl/litir.scss";
@import "incl/mixins.scss";
@import "incl/inputs.scss";
@import "incl/buttons.scss";
@import "incl/animation.scss";
@import "incl/transition.scss";
@import "incl/results.scss";
@import "incl/typography.scss";
@import "incl/about.scss";
@import "incl/characters.scss";
@import "incl/intro.scss";
@import "incl/footer.scss";
@import "incl/mediaqueries.scss";

body {
  height: 100%;
  background-image: url("../img/backr1.jpg");
  // background-size: cover;
  background-color: black;
  font-family: 'Work Sans', sans-serif;
  color: white;
  position: relative;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 31%;
  margin-bottom: 140px;
}

.logo {
    text-align: center;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    // background: #fff ; change if the mask should have another color then white
    z-index:999; /* makes sure it stays on top */
    display: none;
}

// #status {
//     width:200px;
//     height:200px;
//     @include centerer;
//     background: url(../img/BB8animate2.gif); /* path to your loading animation */
//     background-repeat:no-repeat;
//     background-position:center;
// }