@import url(https://fonts.googleapis.com/css?family=Work+Sans:900,700,500,400);

@import "incl/normalize.scss";
@import "incl/litir.scss";
@import "incl/mixins.scss";
@import "incl/inputs.scss";
@import "incl/buttons.scss";
@import "incl/animation.scss";

body {
  background-image: url("../img/backr1.jpg");
  // background-size: cover;
  background-color: black;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}