.nextButton {
    float: right;
    margin-top: 20px;
    border-radius: 20px;
    width: 180px;
    border: 1px;
    border-color: #0BAA8E;
    background-color: $primaryGreen;
    color: white;
    text-transform: uppercase;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nextButton:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nextButton:active {
    border-color: #0BAA8E;
    // color: #000;
}

.nextButton:hover {
    background: $secondaryGreen;
}

.nextButton:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.nextButton:before {
    right: 20%;
    opacity: 0;
    top: -12px;
}

.nextButton:hover:before {
    right: 10%;
    opacity: 1;
}





.backButton {
    float: left;
    margin-top: 20px;
    border-radius: 20px;
    width: 180px;
    border: 1px;
    border-color: #0BAA8E;
    background-color: $primaryGreen;
    color: white;
    text-transform: uppercase;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.backButton:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.backButton:active {
    border-color: #0BAA8E;
    // color: #000;
}

.backButton:hover {
    background: $secondaryGreen;
}

.backButton:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.backButton:before {
    left: 20%;
    opacity: 0;
    top: -11px;
}

.backButton:hover:before {
    left: 10%;
    opacity: 1;
}



.icon-arrow-right:before {
    content: url('../img/arrow-right.svg');
}

.icon-arrow-left:before {
    content: url('../img/arrow-left.svg');
}