.nextButton {
    float: right;
    margin-top: 20px;
    background: $primaryGreen;
    border-radius: 20px;
    color: #fff;
    width: 180px;
    border: 0;
    text-transform: uppercase;
    height: 40px;
    cursor: pointer;
}