.personal_info input{
    width: 100%;
    margin-top: 10px;
    height: 40px;
}


.skrefafjoldi {
    p {
        width: 34%;
        float: left;
        font-weight: 700;
        margin-top: -5px;
        font-size: 15px;
    }
    progress {
        width: 64%;
        float: right;
        margin-top: -3px;
    }
}

progress {
    -webkit-appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background: #494949;
}

progress::-webkit-progress-value {
    background: $primaryGreen;

    -webkit-transition : width 1s ease;
    -moz-transition : width 1s ease;
    -o-transition : width 1s ease;
    transition : width 1s ease;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    background: transparent;
    border: 2px solid $primaryGreen;
    border-radius: 40px;
    color: #fff;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

// ::-webkit-input-placeholder {
//     padding-left: 10px;
// }

// :-moz-placeholder {
//     padding-left: 10px;
// }
// :-ms-input-placeholder {
//     padding-left: 10px;
// }

.radio-style {
    list-style-type:none;
    margin: 0 0 0 0;
    padding:0;
}

.radio-style li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.radio-style label, .radio-style input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(10,170,142,0.14);
}

input[type=text], input[type=number] {
    padding-left: 15px;
    font-weight: 700;
}

.radio-style input[type="radio"] {
    opacity:0.011;
    z-index:100;
    // width: 100%;
    // height: 100%;
    cursor: pointer;
}

.radio-style input[type="radio"]:checked + label {
    background: $primaryGreen;
}

.radio-style label {
    padding: 8px 0 0 12px;
    border: 2px solid $primaryGreen;
    border-radius: 20px;
    cursor: pointer;
    z-index: 90;
}

.radio-style label:hover {
     background: $primaryGreen;
     transition: 0.5s;
}

// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 0 0 50px pink inset;
//     -webkit-text-fill-color: #333;
// }
// input:-webkit-autofill:focus {
//     -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 0 0 50px pink inset;
//     -webkit-text-fill-color: #333;
// }

// input:-webkit-autofill {
//     -webkit-box-shadow: inset 0 0 0px 9999px white;
// }


input[type=text], textarea, input[type=number], input:-webkit-autofill {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;

  // padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
}

input:-webkit-autofill {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 0 0 50px rgba(11, 170, 142, 1) inset;
}

input[type=text]:focus, textarea:focus, input[type=number]:focus, input:-webkit-autofill:focus  {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 0 0 50px rgba(98, 220, 195, 1) inset;
  // padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
  // border: 1px solid rgba(81, 203, 238, 1);
}