@media only screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {

    .badge1 {
        top: 13%;
        left: 77%;
    }

    .badge2 {
        position: absolute;
        top: 63%;
        left: 86%;
    }

    .badge2img {
        display: none;
    }

    .characterImg {
        width: 100%;
    }

    .characterImg img {
        width: 100%;
    }

    .results_info {
        width: 100%;
        position: absolute;
        top: 65%;
    }

    .badge1img {
        display: none;
    }

.falcon, .fighter1c, .fighter1, .fighter2, .fighter3, .falconb, .fighter3b, .planetMotion4  {
        visibility: hidden;
        display: none !important;
    }

     #mobilefix {
        width: 70%;
    }


    .facebookShare, .takeAgain, .facebookShare button, .takeAgain button, .takeAgainButton, .fbButton {
        width: 100%;
    }



}



@media only screen
    and (max-width: 321px)
    and (-webkit-min-device-pixel-ratio: 2) {


    .desert2color {
        margin-top: -10px;
    }

}