.results p {
  font-size: 20px;
  // text-align: center;
  text-transform: uppercase;
}
p.results-score {
  font-size: 50px;
  text-transform: uppercase;
  // font-weight: 900;
  line-height: 1;
  margin-top: -20px;
}


.results-card {
  background-color: $primaryGreen;
    border-radius: 10px;
    padding: 5px 20px;
    position: relative;
    height: 200px;
    margin-top: 20px;
}
p .stig {
  position: absolute;
  bottom: -25px;
  right: 10px;
  font-weight: 900;
  font-size: 150px;
  color: $secondaryGreen;
  z-index: 3;
}
.results-card h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 10px;
  width: 70%;
  line-height: 0.8;
  font-weight: 900;
  z-index: 9;
}
.results-card p {
  font-weight: 500;
  line-height: 1;
  margin-top: -20px;
}

.results-card-back {
  background-color: $secondaryGreen;
}

