.results {
  display: none;

  h3.fimmpersonur {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    border-top: 3px solid rgba(255,255,255,0.2);
    padding-top: 1px;
    margin-top: 40px;
    margin-bottom: -10px;
  }
}

.results p {
  font-size: 20px;
  // text-align: center;
  text-transform: uppercase;
}
p.results-score {
  font-size: 50px;
  text-transform: uppercase;
  // font-weight: 900;
  line-height: 1;
  margin-top: -20px;
}


.results-card {
  background-color: $primaryGreen;
    border-radius: 10px;
    position: relative;
    height: 200px;
    margin-top: 20px;
}
p.stig {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: 900 !important;
  font-size: 150px;
  color: $secondaryGreen;
  z-index: 3;
}
.results-card h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 10px;
  width: 70%;
  line-height: 0.8;
  font-weight: 900;
  z-index: 9;
  padding-left: 10px;
}
// .results-card p {
//   font-weight: 500;
//   line-height: 1;
//   margin-top: -20px;
// }

.results-card-back {
  background-color: $secondaryGreen;
  position: relative;
}

.characterImg {
  width: 50%;
  height: 100%;
  float: left;


  img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}

.results_info {
  width: 50%;
  float: left;
}

.badge1container {
  width: 50%;
  height: 100%;
  float: right;
  font-size: 60px;
  font-weight: 900;
  position: relative;
}

.badge1img {
  padding-right: 25px;
  @include centerer;
  top: 54%;
  left: 60%;
}

.badge1 {
  @include centerer;
  z-index: 100;
  top: 50%;
  left: 55%;
  font-size: 70px;
}

.badge2container {
  width: 50%;
  height: 100%;
  float: right;
  font-size: 60px;
  font-weight: 900;
  position: relative;
}

.badge2img {
  padding-right: 25px;
  @include centerer;
  position: absolute;
  top: 70%;
  left: 89%;
}

.badge2 {
  @include centerer;
  z-index: 100;
  position: absolute;
  top: 70%;
  left: 86%;
}



.ShareandAgain {
  margin-top: 80px;

  .fbButton {
    float: left;
    border-radius: 20px;
    width: 200px;
    background: #365899;
    color: #fff;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    border: 0;
  }

  .takeAgainButton {
    float: left;
    border: 0;
    border-radius: 20px;
    width: 200px;
    background: #FE2A4A;
    color: #fff;
    height: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
  }

  .takeAgain {
    float: right;
  }
}



// .nextButton {
//     float: right;
//     margin-top: 20px;
//     border-radius: 20px;
//     width: 100px;
//     border: 1px;
//     border-color: #0BAA8E;
//     background-color: $primaryGreen;
//     color: white;
//     text-transform: uppercase;
//     height: 40px;
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     -webkit-transition: all 0.5s;
//     -moz-transition: all 0.5s;
//     transition: all 0.5s;
// }