<h1>Star Wars Persónur</h1>

<div class="searchCharacters">
  <span class="fa fa-search"></span>
  <input class="charSearch" ng-model="search.name" placeholder="Use the Force!" style="width: 100%;">
</div>

<div ng-repeat="character in vm.data | filter:search:strict" style="width: 500px" class="cf">
<div ng-repeat="character in vm.data | filter:search:strict" class="characters_page results-card results-card-back">
  <div class="characterImg">
      <img ng-src="content/img/characterIMG/{{character.name}}.jpg">
    </div>
    <div class="results_info">
      <h3>{{ character.name }}</h3>
<!--       <p>Hæð: <span>{{ character.height }}</span></p>
      <p>Þyngd: <span>{{ character.weight }}</span></p>
      <p>Kyn: <span>{{ character.gender }}</span></p>
      <p>Hárlitur: <span>{{ character.hair }}</span></p>
      <p>Augnlitur: <span>{{ character.eyes }}</span></p>
      <p>Kjördæmi: <span>{{ character.residence }}</span></p>
      <p>Bílpróf: <span>{{ character.drive }}</span></p> -->
    </div>

</div>
